<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>New Trip</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">

        <!-- Bootstrap core CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">    
        <script src="{% static 'main/js/bootstrap.js' %}"></script>

        <!-- Custom styles for this template --> 
        <link href="form-validation.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div class="w-50 mx-auto">
            <nav class="navbar navbar-light bg-white w-100 mx-auto">
                <h3 class="navbar-brand">Hello {{user.first_name}}! Read about this trip!</h3>
                <form class="form-inline">
                    <div class="input-group">
                        <a href="/trips" class="form-group mr-4"><u>Dashboard</u></a>
                        <a href="/login/logout" class="form-group mr-4"><u>Logout</u></a>
                    </div>
                </form>
            </nav>
        </div>
        <div class="w-50 mx-auto mt-4">
            <h4>{{trip.destination}}</h4>
            <div class="w-75 border border-dark pl-4">
                <h5 class="col-form-label">Start Date: {{trip.start_date}}</h5>
                <h5 class="col-form-label">End Date: {{trip.end_date}}</h5>
                <h5 class="col-form-label">Created On: {{trip.created_at}}</h5>
                <h5 class="col-form-label">Last Updated: {{trip.updated_at}}</h5>
                <h5 class="col-form-label">Plan: {{trip.plan}}</h5>
                <h5 class="col-form-label">Created by: {{trip.created_by.first_name}} {{trip.created_by.last_name}}</h5>
            </div>
            <div class="w-75 border border-dark pl-4 mt-4">
                <h4>People who've joined the trip:</h4>
                <ul>
                    {% for u in trip.users.all %}
                        {% if u == trip.created_by %}
                        {% else %}
                            <li>{{u.first_name}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
